.ui-btn.ui-input-btn.ui-icon-maracuya-prev {
    background-image: url('images/media-rewind.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.ui-btn.ui-input-btn.ui-icon-maracuya-next {
    background-image: url('images/media-fast-forward.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.ui-btn.ui-input-btn.ui-icon-maracuya-play {
    background-image: url('images/media-play.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.ui-btn.ui-input-btn.ui-icon-maracuya-stop {
    background-image: url('images/media-stop.png');
    background-repeat: no-repeat;
    background-position: center center;
}
html, body {
    max-height: 99.9%;
}
.ui-navbar li:last-child .ui-btn {
    margin-right: 1px;
}
@media (max-width: 1536px) {
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext,
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls button.ui-btn-icon-notext {
      width: 16em;
  }
}
@media (orientation: landscape) {
    #loading img {
        height: 80%;
        width: auto;
    }
    .ui-header .ui-navbar .ui-btn,
    .ui-footer .ui-navbar .ui-btn {
        height: 50px;
        padding-top: 25px;
    }
}
@media (max-height: 1536px) and (orientation: landscape) {
  #player.ui-page {
      padding-left: 8%;
      width: 92%;
      left: 0px;
  }
  #player .ui-footer-fixed {
      left: 0;
      right: auto;
      top: 0;
      bottom: 0;
      width: 7%;
      height: 100%;
      padding-left: 1%;
      padding-top: 2.1em;
  }
  #playlist {
      padding-left: 2px;
  }
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext,
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls button.ui-btn-icon-notext {
      width: 5.5em;
  }
}
@media (max-width: 768px) and (max-height: 1024px) {
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext,
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls button.ui-btn-icon-notext {
      width: 8.5em;
  }
}
@media (max-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #player.ui-page {
      padding-left: 8%;
      width: 92%;
      left: 0px;
  }
  #player .ui-footer-fixed {
      left: 0;
      right: auto;
      top: 0;
      bottom: 0;
      width: 7%;
      height: 100%;
      padding-left: 1%;
      padding-top: 2.1em;
  }
  #playlist {
      padding-left: 2px;
  }
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext,
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls button.ui-btn-icon-notext {
      width: 1.5em;
  }
}
@media (max-width: 640px) {
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext,
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls button.ui-btn-icon-notext {
      width: 2em;
  }
}
@media (max-height: 640px) and (orientation: landscape) {
  #player.ui-page {
      padding-left: 13%;
      width: 87%;
      left: 0px;
  }
  #player .ui-footer-fixed {
      left: 0;
      right: auto;
      top: 0;
      bottom: 0;
      width: 13%;
      height: 100%;
      padding-left: 1%;
      padding-top: 2.1em;
  }
  #playlist {
      padding-left: 2px;
  }
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext,
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls button.ui-btn-icon-notext {
      width: 1.5em;
  }
}
@media (max-height: 640px) and (max-width: 1136px) and (orientation: landscape) {
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext,
  #player.ui-page .ui-controlgroup-horizontal .ui-controlgroup-controls button.ui-btn-icon-notext {
      width: 2em;
  }
}
.content {
    padding: 0 10px;
}
#loading {
    height: 100%;
    display: table;
}
#loading .content {
    display: table-cell;
    vertical-align: middle;
}
