.ui-btn.ui-input-btn.ui-icon-maracuya-prev {
    background-image: url('images/media-rewind.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ui-btn.ui-input-btn.ui-icon-maracuya-next {
    background-image: url('images/media-fast-forward.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ui-btn.ui-input-btn.ui-icon-maracuya-play {
    background-image: url('images/media-play.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ui-btn.ui-input-btn.ui-icon-maracuya-stop {
    background-image: url('images/media-stop.png');
    background-repeat: no-repeat;
    background-position: center center;
}


.content {
    padding: 0 10px;
}
#loading {
    height: 100%;
    display: table;
}
#loading .content {
    display: table-cell;
    vertical-align: middle;
}

