.ui-btn.ui-input-btn.ui-icon-maracuya-prev {
    background-image: url('images/media-rewind.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ui-btn.ui-input-btn.ui-icon-maracuya-next {
    background-image: url('images/media-fast-forward.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ui-btn.ui-input-btn.ui-icon-maracuya-play {
    background-image: url('images/media-play.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.ui-btn.ui-input-btn.ui-icon-maracuya-stop {
    background-image: url('images/media-stop.png');
    background-repeat: no-repeat;
    background-position: center center;
}

html, body {
	max-height: 99.9%;
}

@media (max-width: 1536px) {
  html { 
	background: blue; 
  }
}

@media (max-height: 1536px) and (orientation: landscape) {
  html { 
	background: lightblue; 
  }
}

@media (max-width: 768px) {
  html { 
	background: red; 
  }
}
@media (max-height: 768px) and (orientation: landscape) {
  html { 
	background: pink; 
  }
}

@media (max-width: 640px) {
  html { 
	background: green; 
  }
}

@media (max-height: 640px) and (orientation: landscape) {
  html { 
	background: teal; 
  }
}

.content {
    padding: 0 10px;
}
#loading {
    height: 100%;
    display: table;
}
#loading .content {
    display: table-cell;
    vertical-align: middle;
}

