Package: maracuya-jukebox-dev
Version: $VERSION
Section: base
Priority: optional
Architecture: all
Installed-Size: $SIZE
Depends: libasound2, libsqlite3-dev, libltdl-dev, android-tools-adb, android-tools-fastboot, g++, make, openjdk-6-jre-headless, git
Pre-Depends: libasound2, libsqlite3-dev, libltdl-dev, android-tools-adb, android-tools-fastboot, g++, make, openjdk-6-jre-headless, git
Maintainer: Marek Bedkowski <marek@bedkowski.pl>
Description: Virtual package responsible for setting up dev env on ubuntu.
